body {
	background-color: #1E242B;
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
}
* {
	padding: 0;
	margin: 0;
}
p {
	color: white;
	align-content: center;
	justify-content: center;
	content: center;
	display: flex;
	cursor: default;
}
header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	background-color: #eee;
	align-self: stretch;
	-webkit-app-region: drag;
	position: fixed;
	width: 100%;
}
#content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.closee {
	padding: 5px 15px 5px 15px;
	-webkit-app-region: no-drag;
	cursor: default;
	user-select: none;
}
.closee:hover {
	background-color: crimson ;
}
.closee:active {
	background-color: darkred;
}
.minimizee {
	user-select: none;
}
.minimizee:hover {
	background-color: darkgrey;
}
.minimizee:active {
	background-color: black;
}
.minimizee {
	padding: 5px 15px 5px 15px;
	-webkit-app-region: no-drag;
	cursor: default;
}
.Months {
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
}
.individMonth {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
	margin-top: 45px;
	min-width: 406px;
	min-height: 60px;
}
.monthList p {
	cursor: pointer;
	justify-content: normal;
	padding-left: 15px;
	width: 150px;
	font-size: 1.5em;
}
.monthList li {
	color:white;
	cursor: pointer;
	overflow: hidden;
	padding-left: 15px;
	height: 25%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.monthList ul:hover {
	color: lightyellow;
}
#monthSelector {
	margin-top: 75px;
}
#displayedMonth:hover {
	color: rgba(81, 203, 238, 1);
}
.Stats {
	width: 50%;
}
.monthList {
	width: 50%;
}
.Stats p {
	cursor: default;
	margin-top: 25px;
	justify-content: normal;
	padding-left: 15px;
}
.hiddenMonths {
	overflow-y: scroll;
	width: 175px;
	height: 145px;
	display: none;
	background-color: #1b1e22;
	scrollbar-width: thin;          /* "auto" or "thin"  */
	scrollbar-color: blue orange;   /* scroll thumb & track */
}
#displayedMonth {
	padding-bottom: 15px;
	font-weight: bold;
}
#myChart {
	width: 384px !important;
	height: 384px !important;
}
.canvas {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 0;
	position: absolute;
	top: 55px;
	right: 15px;
	z-index: 0;
	overflow: hidden;
}
.Everything {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}